.DS_Store

libspotify-plusplus.xcodeproj/project.xcworkspace/xcuserdata/Jim.xcuserdatad/UserInterfaceState.xcuserstate

libspotify-plusplus.xcodeproj/project.xcworkspace/contents.xcworkspacedata

libspotify-plusplus.xcodeproj/xcuserdata/Jim.xcuserdatad/xcschemes/libspotify-plusplus.xcscheme

libspotify-plusplus.xcodeproj/xcuserdata/Jim.xcuserdatad/xcschemes/xcschememanagement.plist
